.persistent-header {
  background: linear-gradient(to bottom left, #07cb83, #060955);
  padding: 10px 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.header-content {
  font-family: Verdana;
  font-size: large;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content h1 {
  font-family: verdana;
  color: white;
  margin: 0;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

/* Persistent header finishes here */

body {
  background-image: url("background.avif");
  min-height: 100vh;
  background-size: cover;
  background-repeat: round;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;

  .content {
    margin-top: 60px;
    padding: 20px;
  }

  h2 {
    font-family: verdana;
    color: rgb(4, 114, 77);
    text-align: center;
    font-weight: bold;
  }

  p {
    font-family: verdana;
  }

  h3 {
    font-family: verdana;
    color: rgb(0, 27, 136);
  }

  h1 {
    font-family: verdana;
    color: rgb(4, 114, 77);
    text-align: left;
    margin-inline-start: 15%;
  }

  body {
    background-size: 30%;
  }

  .success {
    font-family: verdana;
  }

  /* 
  this is for the "all boxes" now */
  .div-index {
    width: auto;
    margin: auto;
    background-color: white;
    border: 2px solid #ccc;
    border-width: 2px;
    border-radius: 5px;
    padding: 20px;
    font-family: verdana;
  }

  img {
    align-items: center;
    max-width: 45%;
    height: auto;
  }

  /* This is for the form box */
  .form-container {
    width: 50%;
    margin: auto;
    font-family: verdana;
    background-color: white;
    border: 2px solid #ccc;
    padding: 80px;
    text-align: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
